body {
    background-color: #7d5cac;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #f0f0f0;
}

p {
    color: #f0f0f0;
    text-align: justify;
}

#button {
    width: 8vw;
    height: 4vh;
    background-color: #2c0069;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 2vh;
}

#button:hover {
    background-color: #f0f0f0;
    color: #2c0069;
}

#changemain {
    background-color: #ac5c5c;
}
